<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LinggleIt</title>
  <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename='css/bootstrap.css') }}">
</head>

<body>
  <!-- Header Carousel -->
  <div class="jumbotron">
    <div class="container text-center">
      <h2>Linggle.It</h2>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    最後結果：<input id="textBox" type="text" size="60" value=""/><BR/>
    中間結果：<input id="tempBox" type="text" size="60" value=""/><BR/>
    辨識語言：
    <select id="langCombo">
      <option value="en-US">英文(美國)</option>
      <option value="cmn-Hant-TW">中文(台灣)</option>
    </select>
    <input id="startStopButton" type="button" value="辨識" onclick="startButton(event)"/><BR/>
    <label id="infoBox"></label>
  </div>

  <div class="container">

      {% block result %}{% endblock %}

    <!-- <div class="bs-callout bs-callout-success">

    </div> -->
  </div>
    
</div>
   <!--
   <nav class="navbar navbar-default navbar-fixed-bottom">
    <footer>
      <div class="row-footer">
        <div class="col-lg-12 text-center">
          <p>Copyright &copy; Natural Language Processing Lab 2015</p>
        </div>
      </div>
    </footer>
    </nav>-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="static/js/jquery.js"></script>
  <script src="static/js/speech.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/show_more.js"></script>
</body>
</html>